.account-book{
    width: 700px;
    height: 200px;
}

.account-book > tbody > tr > td {
    text-align: center;
}
.account-book > thead > th {
    font-weight: bold;
}
.top{
    background-color: skyblue;
}
.bottom {
    background-color: lightblue;
}
.bottom > .spend-money {
    text-align: right;
}

.button1{
    width:700px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
}
.label1 {
    font-weight: bold;
}.input2{
    height: 35px;
    width: 120px;
}
