.month {
    font-size: 30px;
    font-weight: bold;
}
.calendar {
    border: 1px solid #000000;
    border-collapse: collapse;
    width: 840px;
    height: 500px;
    font-size: 15px;
}

.calendar > thead > tr{
    height: 30px;
    padding: 10px;
}

.calendar > tbody > tr > td {
    font-size: 12px;
    font-weight: bold;
    width: 120px;
    padding-top: 5px;
    padding-left: 5px;
    vertical-align: top;
}

.calendar > thead > tr > :nth-child(1){
    color: red;
} 
.calendar > tbody > tr > :nth-child(1) {
    color: red;
} 
.calendar > tbody > tr > td:hover{
    background-color: lightblue;
}
.holiday {
    color: red;
}

.today {
    font-weight: bold;
    background-color: yellow;
}
